.app-content .container {
  text-align: left;
  margin-top: 40px;
}

.image {
  float: left;
  margin-right: 24px;
}

.post-counter-container {
  float: right;
  height: 100%;
}

.post-counter {
  font-size: 25px;
  font-weight: bold;
  color: rgba(0, 0, 0, .25);
}