.app-content .container {
  text-align: left;
  margin-top: 40px;
}

.sorting-options {
  float: right;
  position: relative;
  bottom: 15px;
}

.deleted-creator {
  color: red;
}

.ant-list-item-meta-title {
  margin-top: 0;
}
