.file-content {
  height: 100%;
  width: 100%;
  display: none;
}

.file-content > iframe {
  width: 100%;
  height: 100vh;
}

.edit-content > iframe {
  width: 100%;
  height: 31vh;
}

.comment-sorting-options {
  margin-top: 10px;
}
