.subreddit-button {
  width: 20%;
}

@media(max-width: 600px) {
  .subreddit-list-item {
    display: inline-block;
    width: 100%;
  }

  .subreddit-list-item .ant-list-item-meta-title,
  .subreddit-list-item .ant-list-item-meta-description {
    text-align: center;
  }

  .subreddit-button {
    margin: 5px auto;
    display: flex;
    justify-content: center;
    width: 40%;
    padding-top: 5px;
  }
}
